:root {
    --primary-color: #c2c2c2;
    --light-blue: #00b4e6;
    --dark-blue: #004761;
    --iphone-bg: #004761;
    --contact-title: white;
    --labels: white;
    --input-bg: white;
    --input-border: #004761;
    --input-focus: #00b4e6;
    --phone-number: white;
    --icon-color: #00b4e6;
    --icon-hover: white;
}

/* dark theme css variables */

[data-theme="dark"] {
    --primary-color: #c2c2c2;
    --light-blue: #00b4e6;
    --dark-blue: #004761;
    --iphone-bg: black;
    --contact-title: white;
    --labels: white;
    --input-bg: white;
    --input-border: #004761;
    --input-focus: #00b4e6;
    --phone-number: white;
    --icon-color: #a236c9;
    --icon-hover: white;
}

/* section wrapping contact */

#contact_wrap {
    position: relative;
    overflow: auto;
}

/* card with contact forms */

#contact-card {
    width: 36rem;
    background: var(--iphone-bg);
    margin-top: 102px;
    border-radius: 4px;
}

/* title contact me */

#contactMeText {
    color: var(--contact-title);
}

/* outer style of icon */

.icon {
    color: var(--icon-color);
    -webkit-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    outline: none;
    z-index: 10;
}

.icon:hover {
    color: var(--icon-hover);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 612px) {
    /* card with contact forms */
    #contact-card {
        width: 100%;
        margin: 100px 10px 0 10px;
    }
}