:root {
    --btn-bg: #004761;
    --btn-border: #004761;
    --btn-color: white;
}

/* dark theme css variables */

[data-theme="dark"] {
    --btn-bg: rgba(255, 255, 255, 0);
    --btn-border: #a236c9;
    --btn-color: white;
}

#nav_wrap {
    position: fixed;
    top: 100%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -69px; /* Negative half of width. */
    z-index: 5;
    width: 138px;
}

/* left navigation button */

#leftBtn {
    margin: 2px;
    z-index: 2;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    border-radius: 2px;
    font-weight: 600;
    width: 100%;
    ;
    outline: none;
}

#leftBtn:hover {
    animation: shakey 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    transform-origin: top bottom;
}

.leftImage {
    height: 28px;
    transform: rotate(-90deg);
}

/* right navigation button */

#rightBtn {
    margin: 2px;
    z-index: 2;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: 1px solid var(--btn-border);
    border-radius: 2px;
    font-weight: 600;
    width: 100%;
    outline: none;
}

#rightBtn:hover {
    animation: shakey 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    transform-origin: top bottom;
}

.rightImage {
    height: 28px;
    transform: rotate(90deg);
}

/* animation for navigation buttons */

@-webkit-keyframes shakey {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(2deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    92% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes shakey {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(2deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    92% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0);
    }
}